*{
    box-sizing: border-box;
}

body{
    background-image: url("style/bc6.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;

}
#welcome
{
    background-color: rgba(224, 222, 215, 0.8);
    margin-top: 5%;
    padding: 10px;
    border: solid 1px   rgba(227, 209, 160, 0.64);
    border-radius: 10px;
    text-align: center;
}

#welcome h1{
    color: #100f0f;

}

#id5555 {
    background-color: #1b1e21;
    margin: 10px;
    height: 500px;
    width: 500px;
}
.carousel-item{
    background-color: rgba(173, 172, 172, 0.52);
    padding-bottom: 20px;
    padding-top: 20px;
    border: solid 1px rgba(227, 209, 160, 0.17);
    border-radius: 15px;
}
.sendreset1,.sendreset2
{
    font-size: 14px;
    background-color: rgba(37, 41, 42, 0.22);

}
.sendreset1:hover,.sendreset2:hover{
    background-color: #e2e2ba;
}
.sendreset1{
    float:left;
}
.sendreset2{
    float:right;
}
#login
{
    background-color: rgba(224, 222, 215, 0.8);
    margin-top: -12px;
    padding-top: 13px;
    padding-bottom: 5px;
    border-radius: 10px;
}
